<div class="main-panel" style="width:100%;">
    <div class="row breadcrumb">
        <div class="col-12 col-md-6 title">
            {{'lblNewTicket'| translate:service.CL}}
        </div>
        <div class="col-12 col-md-6">
            <a class="link" routerLink="/requester">{{'lblHome'| translate:service.CL}}</a> <i
                class="fa fa-angle-double-right"></i>
            <a class="link" routerLink="/requester/ticket">Ticket</a> <i class="fa fa-angle-double-right"></i>
            <span>{{'lblTicket'| translate:service.CL}}</span>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="TicketForm" (ngSubmit)="TicketForm.valid && SaveTicket()" #f="ngForm"
                            novalidate>
                            <div class="card-title">
                                <!-- <button type="submit" class="btn btn-sm btn-primary tlp" ><i class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp" (click)="Is_SaveAndclose = true;" >
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();"  ><i class="fa fa-times mr-1"></i>{{'btnCancel'| translate:service.CL}}</button> -->

                                <button type="submit" class="btn btn-sm btn-primary tlp"><i
                                        class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp"
                                    (click)="Is_SaveAndclose = true;">
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();"><i
                                        class="fa fa-times mr-1"></i>{{'btnCancel'| translate:service.CL}}</button>
                            </div>
                            <div class="modal-body1">
                                <div class="form-box row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblRequestType'|
                                                translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select #focus class="form-control custom-select"
                                                    formControlName="RequestTypeID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}
                                                    </option>
                                                    <option *ngFor="let item of model?.RequestTypeList"
                                                        [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblCategory'|
                                                translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="CategoryID"
                                                    (change)="Change_Category($event.target.value)">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}
                                                    </option>
                                                    <option *ngFor="let item of model?.CategoryList"
                                                        [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblSubCategory'|
                                                translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select"
                                                    formControlName="SubCategoryID"
                                                    (change)="Change_SubCategory($event.target.value)">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}
                                                    </option>
                                                    <option *ngFor="let item of Filter_SubCategory_List"
                                                        [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblItem'|
                                                translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="ItemID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}
                                                    </option>
                                                    <option *ngFor="let item of Filter_ItemList" [value]="item.Value">
                                                        {{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblLocation'|
                                                translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="LocationID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}
                                                    </option>
                                                    <option *ngFor="let item of model?.LocationList"
                                                        [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6"></div>
                                    <div class="col-12 form-group"
                                        [ngClass]="{'has-error': f.submitted && !TicketForm.controls.Subject.valid}">
                                        <label>{{'lblSubject'| translate:service.CL}}</label>
                                        <input type="text" class="form-control" formControlName="Subject"
                                            placeholder="{{'lblEnter'| translate:service.CL}} {{'lblSubject'| translate:service.CL}}" />
                                    </div>
                                    <div class="col-12 form-group editor-height">
                                        <label>{{'lblDescription'| translate:service.CL}}</label>
                                        <textarea id="txtDesc" class="form-control kendoEditor"
                                            formControlName="Description"
                                            placeholder="{{'lblEnter'| translate:service.CL}} {{'lblDescription'| translate:service.CL}}"></textarea>
                                    </div>


                                    <div class="col-12 mt-5 mb-2 d-flex justify-content-between">
                                        <h5>{{'lblAttachments'| translate:service.CL}}</h5>
                                        <button type="button" class="btn btn-info btn-sm"
                                            (click)="flAttachment.click();">
                                            <i *ngIf="isAttachLoading" class="fa fa-circle-notch fa-spin mr-1"></i>
                                            {{'lblUploadFiles'| translate:service.CL}}
                                        </button>
                                        <input #flAttachment type="file" multiple (change)="fileChange($event)"
                                            class="hide" />
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="table-responsive">
                                            <table
                                                class="table table-bordered table-striped small-btn table-attachment">
                                                <tr *ngFor="let file of lstAttachments;let i = index;"
                                                    class="bg-light-yellow ">
                                                    <td>
                                                        <i class="mr-2" [ngClass]="file.extension | fileType"></i>
                                                        {{file.name}}
                                                    </td>
                                                    <td width="4%">
                                                        <button type="button" class="btn btn-xs btn-danger"
                                                            (click)="RemoveAttachment(file,'new')">{{'lblRemove'|
                                                            translate:service.CL}}</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer form-btn mt-4 pb-0 prl-0">
                                <!-- <button type="submit" class="btn btn-sm btn-primary tlp"
                                    ><i class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp"
                                    (click)="Is_SaveAndclose = true;"
                                    >
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();"
                                     ><i class="fa fa-times"></i>
                                    {{'btnCancel'| translate:service.CL}}</button> -->

                                <button type="submit" class="btn btn-sm btn-primary tlp"><i
                                        class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp"
                                    (click)="Is_SaveAndclose = true;">
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();"><i
                                        class="fa fa-times"></i>
                                    {{'btnCancel'| translate:service.CL}}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>