<div class="main-panel" style="width:100%;">
    <div class="row breadcrumb">
        <div class="col-12 col-md-6 title">
            {{'lblTicketList'| translate:service.CL}}
        </div>
        <div class="col-12 col-md-6">
            <a class="link" routerLink="/">{{'lblHome'| translate:service.CL}}</a> <i
                class="fa fa-angle-double-right"></i>
            <span>{{'lblTicket'| translate:service.CL}}</span>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body min-height">
                        <div class="table-header">
                            <div>
                                <button type="button" class="btn btn-sm btn-secondary tlp"
                                    (click)="txtSearch='';refreshGrid(true);"><i class="fa fa-sync"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Add_Ticket" (click)="AddRow()"
                                    class="btn btn-sm btn-warning tlp"><i class="fa fa-plus"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Edit_Ticket" (click)="EditRow()"
                                    class="btn btn-sm btn-primary tlp"><i class="fa fa-pencil-alt"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_View_Ticket" (click)="ViewRow('')"
                                    class="btn btn-sm btn-primary tlp"><i class="fa fa-search"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Delete_Ticket" (click)="DeleteRow()"
                                    class="btn btn-sm btn-danger tlp"><i class="fa fa-trash"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Clone_Ticket" (click)="CloneTicket()"
                                    class="btn btn-sm btn-info tlp"><i class="fa fa-clone"></i></button>
                                <a target="_blank" *ngIf="service?.Account?.Is_Print" (click)="Print()"
                                    class="btn btn-sm btn-info tlp"><i class="fa fa-print"></i></a>
                                <div class="dropdown" *ngIf="service?.Account?.Is_Export">
                                    <button type="button" class="btn btn-sm btn-info tlp" id="export"
                                        data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-file-excel mr-1"></i> <i class="fa fa-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu cursor" aria-labelledby="export">
                                        <div class="dropdown-item" (click)="Export('excel')"><i
                                                class="fa fa-file-excel"></i> {{'lblExportToExcel'|
                                            translate:service.CL}}</div>
                                        <div class="dropdown-item" (click)="Export('pdf')"><i
                                                class="fa fa-file-pdf"></i> {{'lblExportToPDF'| translate:service.CL}}
                                        </div>
                                        <div class="dropdown-item" (click)="Export('csv')"><i
                                                class="fa fa-file-alt"></i> {{'lblExportToCSV'| translate:service.CL}}
                                        </div>
                                    </div>
                                </div>
                                <button type="button" *ngIf="service?.Account?.Is_Close_Ticket"
                                    (click)="OpenCloseTicket()" class="btn btn-sm btn-danger tlp"><i
                                        class="fa fa-times"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Pickup" (click)="PickUp()"
                                    class="btn btn-sm btn-info tlp"><i class="fa fa-shipping-fast mr-1"></i>
                                    {{'btnPickUp'|
                                    translate:service.CL}}</button>

                                <div class="dropdown">
                                    <button type="button" class="btn btn-sm btn-secondary tlp" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-filter"></i> {{selectedFilterText | translate:service.CL}} <i
                                            class="fa fa-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu cursor">
                                        <div class="dropdown-item" *ngFor="let item of FilterList"
                                            [class.active]="selectedFilterType == item.Value"
                                            (click)="selectedFilterText=item.Key;selectedFilterType=item.Value;FilterChange(item.Value)">
                                            {{item.Key | translate:service.CL}}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown" *ngIf="service?.Account?.Is_AssignTo_Dropdown">
                                    <button type="button" class="btn btn-sm btn-secondary tlp" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-share"></i> {{'lblAssignAgent'| translate:service.CL}} <i
                                            class="fa fa-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu cursor">
                                        <div class="dropdown-item" *ngFor="let item of AgentList"
                                            [class.active]="selectedAgent == item.UserID"
                                            (click)="selectedAgent=item.UserID;AssignToUser(item)">{{item.DisplayName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-filter">
                                <input type="text" *ngIf="service?.Account?.Is_Ticket_Search"
                                    class="form-control form-control-sm" name="filter"
                                    placeholder="{{'phSearch'| translate:service.CL}}" [(ngModel)]="txtSearch"
                                    (keyup)="service.App.searchFilter.emit($event.target.value);">
                                <button *ngIf="service?.Account?.Is_Column_Filter_Ticket"
                                    class="btn btn-sm btn-secondary tlp" type="button"
                                    (click)="ShowHideColumnFilter()"><i class="fa fa-eye-slash"></i></button>
                                <div class="dropdown dropleft" *ngIf="service?.Account?.Is_ColumnChooser_Visible">
                                    <button class="btn btn-sm btn-secondary tlp" data-toggle="dropdown" type="button">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu max-dropdown-overflow" (click)="$event.stopPropagation()">
                                        <ng-container *ngFor="let filter of gridFilter;let i = index;">
                                            <li *ngIf="filter.ColumnName != 'HasAttachment'" class="dropdown-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="chkfltr-{{i}}" [(ngModel)]="filter.Is_Visible"
                                                        (change)="change_columnchooser(filter, $event.target.value, i)">
                                                    <label class="custom-control-label" for="chkfltr-{{i}}">
                                                        <span
                                                            *ngIf="filter.ColumnName == 'ProfilePicture'">{{'lblProfilePicture'
                                                            | translate:service.CL}}</span>
                                                        <span
                                                            *ngIf="filter.ColumnName != 'ProfilePicture'">{{filter.DisplayText
                                                            | translate:service.CL}}</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="position:relative;">
                            <ticket-commongrid #commongrid [ModuleType]="'ticket'" *ngIf="allItems.length > 0"
                                [records]="allItems" [gridfilter]="gridFilter" [SearchText]="txtSearch" [pagesize]="10"
                                (change)="pageChanged($event)" [ShowSorting]="true"
                                [PagingType]="'nextprevnumberadvanced'" [ShowPagesize]="true"
                                [ShowFilter]="Is_ShowColumnFilter" [ShowCheckbox]="true" [Edit]="true"
                                (EditRow)="EditRowDBClick($event)"
                                (ViewRow)="service?.Account?.Is_View_Ticket && ViewRow($event)">
                            </ticket-commongrid>
                            <div class="nodata" *ngIf="!isLoading && allItems.length == 0">
                                <span>{{'lblNoData'| translate:service.CL}}</span>
                            </div>
                        </div>
                        <div *ngIf="isLoading" class="overlay-inner">
                            <i class="fa fa-circle-notch fa-spin"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>

<modal-dialog #modalCloseTicket [backDrop]="false" modalClass="modal-md"
    modalHeader="{{'lblCloseTicket' | translate:service.CL}}">
    <form [formGroup]="CloseTicketForm" (ngSubmit)="CloseTicketForm.valid && CloseTicket()" #f="ngForm" novalidate>
        <div class="modal-body">
            <div class="form-box row">
                <div class="col-12 col-md-6 form-group"
                    [ngClass]="{'has-error': f.submitted && !CloseTicketForm.controls.StatusID.valid}">
                    <label>{{'lblStatus'| translate:service.CL}}</label>
                    <select class="form-control" formControlName="StatusID" autofocus>
                        <option value="0">{{'lblSelect'| translate:service.CL}}</option>
                        <option *ngFor="let item of CLosedStatusList" [value]="item.StatusID">{{item.Name}}</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 form-group"
                    [ngClass]="{'has-error': f.submitted && !CloseTicketForm.controls.TicketCloseModeID.valid}">
                    <label>{{'lblTicketCloseMode'| translate:service.CL}}</label>
                    <select class="form-control" formControlName="TicketCloseModeID">
                        <option value="0">{{'lblSelect'| translate:service.CL}}</option>
                        <option *ngFor="let item of TicketCloseModeList" [value]="item.Value">{{item.Key}}</option>
                    </select>
                </div>
                <div class="col-12 form-group">
                    <label>{{'lblReason'| translate:service.CL}}</label>
                    <textarea class="form-control" formControlName="StatusCloseReason"
                        placeholder="{{'lblEnter'| translate:service.CL}} {{'lblReasonForClosedTicket'| translate:service.CL}}"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer form-btn">
            <button type="submit" class="btn btn-teal">{{'btnCloseTicket'| translate:service.CL}}</button>
            <button type="button" class="btn btn-secondary" (click)="modalCloseTicket.close()">{{'btnCancel'|
                translate:service.CL}}</button>
        </div>
    </form>
</modal-dialog>

<row-view #RowView></row-view>