
<div class="main-panel" style="width:100%;">
    <div class="row breadcrumb">
        <div class="col-12 col-md-6 title">
            {{'lblNewTicket'| translate:service.CL}}
        </div>
        <div class="col-12 col-md-6">
            <a class="link" routerLink="/">{{'lblHome'| translate:service.CL}}</a> <i class="fa fa-angle-double-right"></i>
            <a class="link" routerLink="/ticket">{{'lblTicket'| translate:service.CL}}</a> <i class="fa fa-angle-double-right"></i>
            <span>{{'lblNewTicket'| translate:service.CL}}</span>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="TicketForm" (ngSubmit)="TicketForm.valid && SaveTicket()" #f="ngForm" novalidate>
                            <div class="card-title">
                                <button type="submit" class="btn btn-sm btn-primary tlp" tooltip="{{'tlpSave'| translate:service.CL}}"><i class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp" (click)="Is_SaveAndclose = true;" tooltip="{{'tlpSaveAndClose'| translate:service.CL}}">
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();" tooltip="{{'tlpCancel'| translate:service.CL}}"><i class="fa fa-times"></i> {{'btnCancel'| translate:service.CL}}</button>
                            </div>
                            <div class="modal-body1">
                                <div class="form-box row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row" [ngClass]="{'has-error': f.submitted && !TicketForm.controls.RequestedName.valid}">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblRequester'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <div class="input-group">
                                                    <input type="hidden" class="form-control" formControlName="RequestedUser">
                                                    <ng-template #reqTemplate let-model="item">{{model?.DisplayName}} {{'('+ model?.Email +')'}}</ng-template>
                                                    <input #focus formControlName="RequestedName"
                                                           [typeahead]="ClientList"
                                                           typeaheadOptionField="DisplayName"
                                                           (typeaheadNoResults)="NoRequesterFound($event)"
                                                           [typeaheadScrollable]="true"
                                                           [typeaheadOptionsInScrollableView]="8"
                                                           [typeaheadLatinize]="true"
                                                           (typeaheadOnSelect)="onSelectRequester($event)"
                                                           [typeaheadMinLength]="0"
                                                           [typeaheadItemTemplate]="reqTemplate"
                                                           class="form-control">
                                                    <div class="input-append ml-1"><a class="btn btn-secondary btn-sm tlp" (click)="OpenUserList('user')" tooltip="{{'lblSelectUser'| translate:service.CL}}"><i class="fa fa-user"></i></a></div>
                                                    <div [class.hide]="!selectedClient && TicketForm.controls.RequestedUser?.value <= 0" class="input-append ml-1"><a class="btn btn-secondary btn-sm tlp" (click)="ViewUser()" tooltip="{{'lblViewUserDetail'| translate:service.CL}}"><i class="fa fa-id-card"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblTechnician'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <div class="input-group">
                                                    <input type="hidden" class="form-control" formControlName="AssignedUser">
                                                    <ng-template #assignTemplate let-model="item">{{model?.DisplayName}} {{'('+ model?.Email +')'}}</ng-template>
                                                    <input formControlName="AssignedName"
                                                           [typeahead]="AgentList"
                                                           typeaheadOptionField="DisplayName"
                                                           (typeaheadNoResults)="NoTechnicianFound($event)"
                                                           [typeaheadScrollable]="true"
                                                           [typeaheadOptionsInScrollableView]="8"
                                                           [typeaheadLatinize]="true"
                                                           (typeaheadOnSelect)="onSelectTechnician($event)"
                                                           [typeaheadMinLength]="0"
                                                           [typeaheadItemTemplate]="assignTemplate"
                                                           [typeaheadSelectFirstItem]="false"
                                                           class="form-control">
                                                    <div class="input-append ml-1"><a class="btn btn-secondary btn-sm tlp" (click)="OpenUserList('technician')" tooltip="{{'lblSelectTechnician'| translate:service.CL}}"><i class="fa fa-user"></i></a></div>
                                                    <div class="input-append ml-1"><a class="btn btn-secondary btn-sm tlp" (click)="AssignCurrentUser()" tooltip="{{'lblAssignCurrentUser'| translate:service.CL}}"><i class="fa fa-share"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblRequestType'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="RequestTypeID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.RequestTypeList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row" [ngClass]="{'has-error': f.submitted && !TicketForm.controls.StatusID.valid}">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblStatus'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="StatusID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.StatusList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblTicketMode'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="TicketModeID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.TicketModeList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblLevel'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="LevelID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.LevelList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblCategory'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="CategoryID" (change)="Change_Category($event.target.value,0)">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.CategoryList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblSubCategory'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="SubCategoryID" (change)="Change_SubCategory($event.target.value)">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of Filter_SubCategory_List" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblItem'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="ItemID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of Filter_ItemList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblImpact'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="ImpactID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.ImpactList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblPriority'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="PriorityID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.PriorityList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblUrgency'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="UrgencyID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.UrgencyList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblDepartment'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="DepartmentID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.DepartmentList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblLocation'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <select class="form-control custom-select" formControlName="LocationID">
                                                    <option [ngValue]="null">{{'lblSelect'| translate:service.CL}}</option>
                                                    <option *ngFor="let item of model?.LocationList" [value]="item.Value">{{item.Key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-12 col-lg-3 col-form-label">{{'lblDueDate'| translate:service.CL}}</label>
                                            <div class="col-12 col-lg-8">
                                                <div class="input-group datepicker">
                                                    <ng2-flatpickr #dueDate [config]="DueDate_Config" formControlName="DueDate" altInputClass="form-control"></ng2-flatpickr>
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-secondary btn-sm" (click)="service?.OpenFlatpickr(dueDate)"><i class="fa fa-calendar"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6"></div>
                                    <div class="col-12 form-group" [ngClass]="{'has-error': f.submitted && !TicketForm.controls.Subject.valid}">
                                        <label>{{'lblSubject'| translate:service.CL}}</label>
                                        <input type="text" class="form-control" formControlName="Subject" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblSubject'| translate:service.CL}}" />
                                    </div>
                                    <div class="col-12 form-group editor-height">
                                        <label>{{'lblDescription'| translate:service.CL}}</label>
                                        <textarea id="txtDesc" class="form-control kendoEditor" formControlName="Description" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblDescription'| translate:service.CL}}"></textarea>
                                    </div>


                                    <div class="col-12 mt-5 mb-2 d-flex justify-content-between">
                                        <h5>{{'lblAttachments'| translate:service.CL}}</h5>
                                        <button type="button" class="btn btn-info btn-sm" (click)="flAttachment.click();">
                                            <i *ngIf="isAttachLoading" class="fa fa-circle-notch fa-spin mr-1"></i>  {{'lblUploadFiles'| translate:service.CL}}
                                        </button>
                                        <input #flAttachment type="file" multiple (change)="fileChange($event)" class="hide" />
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped small-btn table-attachment">
                                                <tr *ngFor="let file of lstAttachments;let i = index;" class="bg-light-yellow ">
                                                    <td>
                                                        <i class="mr-2" [ngClass]="file.extension | fileType"></i>
                                                        {{file.name}}
                                                    </td>
                                                    <td width="4%">
                                                        <button type="button" class="btn btn-xs btn-danger" (click)="RemoveAttachment(file,'new')">{{'lblRemove'| translate:service.CL}}</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-12 form-group mt-5">
                                        <h5>{{'lblResolution'| translate:service.CL}}</h5>
                                    </div>
                                    <div class="col-12 form-group editor-height">
                                        <textarea id="txtSolDesc" class="form-control kendoEditor" formControlName="SolutionDescription" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblResolution'| translate:service.CL}}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-btn mt-4 pb-0 prl-0">
                                <button type="submit" class="btn btn-sm btn-primary tlp" tooltip="{{'tlpSave'| translate:service.CL}}"><i class="fa fa-save"></i></button>
                                <button type="submit" class="btn btn-sm btn-primary tlp" (click)="Is_SaveAndclose = true;" tooltip="{{'tlpSaveAndClose'| translate:service.CL}}">
                                    <i class="fa fa-save"></i>
                                    <span class="save-close"><i class="fa fa-times"></i></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary tlp" (click)="BackToList();" tooltip="{{'tlpCancel'| translate:service.CL}}"><i class="fa fa-times"></i> {{'btnCancel'| translate:service.CL}}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<user-technician (onSave)="UserSelectDone($event)" #UserSelect></user-technician>
